*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}
.color-acento{ color: #0095eb;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 15px;
    border: 1px solid rgb(0, 149, 235);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: rgb(53, 175, 245) ;
}

button:hover{
    color: rgb(36, 34, 34);
    background-color: rgb(96, 189, 243);
    border-color: rgb(96, 189, 243);
    box-shadow: 4px 2px 12px rgba(53, 175, 245);
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgb(230, 230, 230);
}

header .btn-whatsapp{
    display: block;
    position: fixed;
    right: calc(100vw - 300px);
    bottom: 30px;
    font-size: 3em;
    color: rgb(104, 230, 104);
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #0095eb;
    font-size: 2em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom:25px ;
    visibility: hidden;
}

header .menu-btn{
    position: absolute;
    left: 87%;
    bottom: 94%;
    font-size: 1.6em;
    color: black;
}

header nav a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header nav a:hover {
    color: #0095eb;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image:linear-gradient(
        0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.2)
    ),url('../images/hero1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.7em;
}



#somos-pro .container{
    text-align: center;
    padding: 200px 12px;
}

#nuestros-programas{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#nuestros-programas .container{
    padding: 100px 12px;
}

#nuestros-programas h2{
    margin-top: 0;
    font-size: 3.4em;
}

#nuestros-programas p {
    display: none;
}

#nuestros-programas .carta {
    padding: 20px 0px;
    margin: 20px 10px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carta:first-child {
    background-image:linear-gradient(
        0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.2)
    ),url('../images/front.jpg');
    
}

.carta:nth-child(2) {
    background-image:linear-gradient(
        0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.2)
    ),url('../images/fullstack.jpg');
}

.carta:nth-child(3) {
    background-image:linear-gradient(
        0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.2)),url('../images/python.jpg');
}

#caracteristicas .container{
    text-align: center;
    padding: 200px 12px;
}

#caracteristicas li {
    margin: 16px 0px;
    font-weight: bold;
}

#aplica-ya{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;
    height: 50vh;
}

#aplica-ya h2 {
    font-size: 9vw;
}


#aplica-ya button {
    font-size: 1.75em;
}

footer{
    background-color: rgb(230, 230, 230);
}

footer p{
    margin: 0;
    padding: 12px;
    color:rgb(100,100,100);
}

footer .container{
    height: 100px;
    display: flex;
    justify-content:center;
    align-items: flex-end;
}

@media (min-width: 720px) {

    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        height: auto;
        justify-content: space-between;
    }

    header nav{
        visibility: visible;
        flex-direction: row;
        padding: 25px 30px;
        
    }

    header nav a{
        font-size: 1.2em;
    }

    header .menu-btn{
        visibility: hidden;
    }

    #hero h1{
        font-size: 5em;
    }

    #somos-pro .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-pro .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-pro h2 {
        margin-top: 0px;
    }

    #somos-pro .img-container{

        background-image:linear-gradient(
        0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.2)),url('../images/python.jpg');
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
        border-radius: 5px;
        box-shadow: 5px 4px 10px gray;
    }


    #nuestros-programas .programas{
        display: flex;
        justify-content: center;

    }

    #nuestros-programas p {
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-programas h3{
        margin-top: 0px;
    }

    #nuestros-programas .carta {
        padding: 15px;
    }

    #caracteristicas{
        background-image: url('../images/fullstack.jpg');
        background-repeat: no-repeat;
        background-size: 40vw 40vh;
        background-position: 56vw 100px;
    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    #aplica-ya h2{
        font-size: 5em;
    }

    #aplica-ya button{
        font-size: 2em;
    }

    footer .container {
        justify-content: flex-end;
    }
}